---
layout: default
---

<style>
     .li-li {
        background: url(https://static.licdn.com/scds/common/u/images/apps/connect/sprites/sprite_connect_v14.png) -92px -42px no-repeat !important;
        display: inline-block !important;
        height: 16px !important;
        text-decoration: none !important;
        width: 16px !important;
        vertical-align: middle !important;
    }
</style>
<div class="home">

    <h2 style="text-align: center" class="text-center">
        <a  href="javascript:void(0);"><span class="li-li"></span></a>
        <a style="text-decoration: none" href="https://www.linkedin.com/in/sheraliobidov">Sherali Obidov (Sherxon)</a>
    </h2>
    <div style="">
    <span style="">
        <img src="/assets/me.jpg" style=" display: block; margin: auto;
        border-radius: 50%; overflow: hidden; height: 60px;width: 60px;">
    </span>
    </div>
    <div class="post-meta" style="text-align: center; padding: 10px">
            Software Engineer
    </div>
    <div style="text-align: center; color: #515862">
        Hi there. I'm Sherali Obidov, Certified Professional Java Developer with a M.S in Computer Science.
        I blog about Java, Algorithms and Web Development. Check out
        <a href="https://github.com/sherxon/AlgoDS">AlgoDS Github</a> for all source code.
    </div>
    {{ content }}

    <h1 class="page-heading">Posts</h1>

    <ul class="post-list">
        {% for post in site.posts %}
        <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <h2>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>
        </li>
        {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>